body{
    width:100vw;
    min-height:100vh;
    display:flex;
    justify-content:center;
    text-align: center;
    position:relative;
}



/* below codeblock may not be needed? */
#gameContainer{
    display:flex;
    justify-content:center;
    width:100%;

    margin-top:5vw;
}

#gameBoard{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height:25vw;
    width:25vw;
    min-width:170px;
    min-height:170px;

    grid-gap:2px;
    background-color: #1F5573;
    cursor:pointer;
}


.homeBtn{
    margin:16px;
}

.tile{
    background-color: white;
    width:auto;
    height:auto;
    min-width:50px;
    min-height:50px;
    font-size: max(4vw, 3rem);
    display:flex;
    align-items:center;
    text-align:center;
    
}

.tile:hover{
    background-color: rgb(221, 221, 221);
}

#optionsBox{
    border: solid black 2px;
    border-radius:5px;
    height:40vh;
    width:50vw;
    min-width:300px;
    min-height:250px;
    background-color: white;
    position:absolute;
    top:65px;
    display:block;
}

form{
    display:flex;
    flex-direction:column;
}