body{
    width:100vw;
    min-height:100vh;
    display:flex;
    justify-content:center;
    text-align: center;
    position:relative;
}

#gameContainer{
    display:flex;
    justify-content:center;
    width:100%;
    margin-top:5vw;
}

#nameBoard{
    display:flex;
    width:100vw;
    justify-content:space-between;
    font-size:36px;
}

#nameBoard, #XOBoard{
    display:flex;
    width:100vw;
    justify-content:space-around;
    font-size:36px;
}
.playerOne{
color: #1F5573;
}

.playerTwo{
color:crimson;
}

#gameBoard{
    display:none;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    height:25vw;
    width:25vw;
    min-width:170px;
    min-height:170px;
    grid-gap:2px;
    background-color: #1F5573;
    cursor:pointer;

    
}


.homeBtn{
    margin:16px;
}

.tile{
    background-color: white;
    width:auto;
    height:auto;
    min-width:50px;
    min-height:50px;
    font-size: max(4vw, 3rem);
    display:flex;
    justify-content:center;
    align-items:center;
    padding-top: .5rem;;
}

.tile:hover{
    background-color: rgb(221, 221, 221);
}

#optionsBox{
    border: solid black 2px;
    border-radius:5px;
    height:40vh;
    width:50vw;
    min-width:500px;
    min-height:350px;
    background-color: white;
    position:absolute;
    top:65px;
    display:block;
}

form{
    display:flex;
    flex-direction:column;
    font-size: 24px;
    justify-content:center;
    margin-top:20px;;
}

.inputField{
    display:flex;
    justify-content: center;
}


.radioContainer{
    width:350px;
    display:flex;
    justify-content:space-between;
    margin-left:auto;
    margin-right:auto;
}

form > div {
    margin:10px;
}

.formBtn{
    font-size: 24px;;
}

