#header{
    height:10vh;
    display:flex;
    justify-content:center;
    
}

#title{
    font-size:60px;
    align-self:center
}

#content{
    height:90vh;
}

#boardHeader{
    display:flex;
    flex-direction:row; 
    height:5vh;
    margin:12px;
    font-size:28px;
    justify-content:space-around;
}

#gameboard{
    display:grid;
    grid-template-rows:repeat(3, 1fr);
    grid-template-columns:repeat(3, 1fr);
    grid-gap:4px;
    height:50vh;
    width:50vh;
    background-color:blue;
    margin:auto;
    margin-top:0;
}


#content{
    display:grid;

}
.tile{
    background-color: white;
    cursor:pointer;

}